<h3> Followed Feeds </h3>
		<% @feed.each do |event| %>
			<div class="span6">	  
				<ul>
					<li> Name: <%= event.title %> </li>
					<li> Title: <%= event.description %> </li>
					<li> User: <%= event.user_id %> </li>
				</ul> 		     	
			</div>
<% end %>

