<% @user ||= current_user %>
<div class="container">
	<div class="stats">
	  <a href="<%= following_user_path(@user) %>">
	    <strong id="following" class="stat">
	      <a href="#">Following <span class="badge"><%= @user.following.count %></span></a>
	    </strong>
	  
	  </a>
	  <a href="<%= followers_user_path(@user) %>">
	    <strong id="followers" class="stat">
	      <a href="#">Followers <span class="badge"><%= @user.followers.count %></span></a>
	    </strong>
	  </a>
	</div>
</div>