<h1> Hi <%= @user.first_name %> this is your profile</h1>
<h2> Full Name: <%=@user.first_name + @user.last_name %> </h2>
<h3> Email: <%=@user.email%></h3> <br>

<p><%= link_to "Delete this profile!", user_path, method: :delete, data: { confirm: "Are you sure you want to delete this profile?"} %> </p>
