<% if current_user %>
					
	<%= render "events/events_index" %>

<% else %>

	<%= render "sessions/form_signin" %>
	
		<span class="label"> <%= link_to "Or sign up", new_user_path %></span>
				
<% end %>



