<section class = "login">
  <div class = "container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1> Add an event</h1>
        <%= render "events/form_addevent" %>
      </div>
    </div>
  </div>
</section>
