/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 

 */

@import "bootstrap-sprockets";
@import "bootstrap";

ul {
	list-style: none;
	padding-left: 0;
}

.li .a {
	font: bold;
}

body
{
  background:#fff;
  margin:0;
}

container {
	
}

/* event table */

h2 {
	padding: 30px;
}


.eventTable .list-group .list-group-item active {
	height: 60px;
	overflow: scroll;
}

.eventTable .list-group .list-group-item {
	height: 70px;
	overflow: scroll;
}



.well {
	height: 50px;
	font-size: 12px;
	padding: 30px;
}

.button {
	padding: 30px;
}

.feed {
	
}


